{% extends 'club_app/base.html' %}

{% block content %}
<div class="form-container">
    <h2>Volunteer Registration</h2>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="usn" placeholder="USN" required>

        <input type="text" name="event_name" placeholder="Event Name" required>

        <select name="availability">
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>

{% endblock %}